body
{
	margin:0px;
	background-color: rgba(244, 244, 244, 1.0);
}
.hamburger
{
	display: none;
}
/* top header - nav bar design */
header
{
	display: flex;
	background-color:white;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	justify-content: space-between;
	align-items: center;
}
header > img
{
	max-width: 200px;
	max-height: 90px;
}
header > nav
{
	display: flex;
	width: 25%;
	justify-content: space-around;

}
header > nav > p
{
	font-size: 20px;
	font-weight: bold;
}
.menu p:hover
{
	text-decoration: underline;
	cursor: pointer;
}
.menu p:active
{
	background-color: black;
	color: white;
}

/*hero section design */
main
{
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
}
#main-img
{
	width: 100%;
	margin: 5%;
}
#main-img > img
{
	width: 100%;
}
.main-text
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top:10% ;
	margin-left: 10%;
	margin-bottom: 5%;
}
.main-text > h2
{
	font-weight: lighter;
	width: 100%;
}
.main-text > h1
{
	font-size: 52px;
}
.main-btn
{
	display: flex;
	justify-content: space-between;
	justify-items: flex-start;
	width: 80%;
}
#LM-btn
{
	width: 45%;
	height: 100%;
	background-color: rgba(244, 244, 244, 1.0);
	border-radius: 4px;
	border-color: black;
	border-width: 1px;
}
#BN-btn
{
	width: 45%;
	height: 50px;
	background-color: rgba(184, 206, 245, 1.0);
	border-radius: 4px;
	border-color: black;
	border-width: 1px;
}

/* line stylining */
.designing
{
	display: flex;
}
.small-line
{
	height: 5px;
	background-color: black;
	flex:2; 
}
.text-btw-lines
{
	flex: 0.5;
	margin-top: -10px;
	padding-left: 5px;
	padding-right: 5px;
}
.large-line
{
	flex: 15;
	height: 5px;
	background-color: black;

}

/*specs section styling */
.specs-container
{
	display: flex;
	justify-content: space-around;
	padding: 1%;
}
.left-side-panel
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	margin: 10%;
}
img
{
	scale: 0.5;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range-start:cover;
	animation-range-end:500px;
}
@keyframes fade-in
{
	to
		{
			scale: 1;
			opacity: 1;
		}
}
.circles
{
	width: 150px;
	display: flex;
	justify-content: space-around;
}
#circle-phantom-black
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: black;
}
#circle-icy-blue
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(145, 151, 170, 1.0);
}
#circle-cream
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(227, 224, 213, 1.0);
}
.right-side-panel
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-grid
{
	display: grid;
	grid-template-columns:1fr 5fr ;
	grid-auto-rows: 30px;
	align-items: baseline;
	grid-row-gap: 5px;
	width: 100%;
	margin-bottom: 10%;
}
.text-grid > h4
{
	grid-column-start: 1;
    grid-column-end: 3;
}
.text-grid > h5
{
	grid-column-start: 1;
    grid-column-end: 2;
}
.text-grid > p
{
	grid-column-start: 2;
    grid-column-end: 3;
}
.shown-in-tab
{
	display: none;
}
/*designing compare section */
.compare-section
{
	display: flex;
	justify-content: space-around;
}
#fold5, #fold4, #fold3
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.compare-img
{
	width: 100%;
	max-width: 348px;
	max-height: 417px;
}
#fold5 h2, #fold4 h2, #fold3 h2
{
	background-color: rgba(217, 217, 217, 1.0);
	padding: 5%;
	border-radius: 10px;
}
.fold-info
{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-auto-rows: 40px;
	align-items: baseline;
	margin-left: 100px;
	margin-bottom: 100px;

}
.fold-info > p
{
 	grid-column-start: 2;
    grid-column-end: 3;
}
.icon
{
	width: 100%;
	max-width: 15px;
	max-height: 15px;
}

/* Accessories section styling */
#acc-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.accessories
{
	display: grid;
	justify-items: center;
	grid-template-columns: 200px;
	grid-template-rows: 1fr 50px 30px;
	padding: 50px;
}
.accessories > Button
{
	width: 100%;
	background-color: rgba(244, 244, 244, 1.0);
	border-radius: 4px;
	border-color: black;
	border-width: 1px;
}
.accessories > Button:hover
{
	background-color: rgba(0, 0, 0, 1.0);
	color: white;
}
#accessories
{
	display: flex;
}

/* designing Footer */
footer
{
	background-color: rgba(166, 166, 166, 1.0);
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	flex-wrap:wrap;
}
#footer-logo
{
	max-width: 600px;
	max-height: 200px;
}
.footer
{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: 30px;
	align-items: baseline;
	margin-right: 40px;
}
.footer > h3
{
	grid-column-start: 1;
	grid-column-end: 3;
}
.footer img
{
	grid-column-start: 1;
	grid-column-end: 2;
	max-width: 15px;
	max-height: 15px;
}
.footer p
{
	grid-column-start: 2;
	grid-column-end: 3;
}
a
{
	text-align: center;
	width: 100%;
	color: skyblue;
	background-color: black;
}

/*styling for multi device*/
@media only screen and (max-width: 700px)
{
	
	main
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-text
	{
		width: 80%;
		margin-top: 0px;
	}
	.main-btn
	{
		width: 100%;
		justify-content: flex-start;
	}
	#BN-btn
	{
		height: 100%;
	}

	/*specs*/
	.specs-container
	{
		flex-direction: column;
	}
	.left-side-panel
	{
		width: 100%;
		margin: 0px;
	}
	.text-grid
	{
		grid-auto-rows: 45px;
		grid-row-gap: 15px;
	}
	.right-side-panel
	{
		margin-bottom: 25%;
	}
	.compare-section
	{
		flex-direction: column;
	}
	.fold-info
	{
		margin-left: 50px;
		margin-bottom: 50px;
	}
	#accessories
	{
		flex-direction: column;
	}
	footer
	{
		flex-direction: column;
		align-items: center;
	}
	.footer
	{
		margin-right:60px ;
		margin-bottom: 30px;
	}
	#footer-logo
	{
		display: none;
	}
}
@media only screen and (max-width: 1025px)
{
	.menu
	{
		display: none;
	}
	.hamburger
	{
		display: inherit;
		margin-right: 10%;
	}
	#main-img
	{
		width: 60%;
		height: 60%;
	}
	.main-text
	{
		margin-top: 40px;
		margin-left:10%;
	}
	.main-text > h1
	{
		margin-top: -10px;
		font-size: 32px;
	}
	.main-btn
	{
		justify-content: space-around;
	}
	#LM-btn 
	{
		width: 40%;
		height: 100%;
		font-size: 10px;
	}
	#BN-btn
	{
		height: 100%;
		width: 35%;
		font-size: 10px;
	}
	.hidden-in-tab
	{
		display: none;
	}
	.shown-in-tab
	{
		display: inherit;
	}
	.fold-info
	{
		margin-left: 50px;
	}
	#accessories
	{
		flex-direction: column;
	}
}